{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Management System</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <link rel="stylesheet" href="{% static 'home.css' %}">
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <a href="{% url 'home_page' %}"><strong>🏠 Home</strong></a>
            <a href="{% url 'employee_list' %}"><strong>👤 Employees</strong></a>
            <a href="{% url 'add_employee' %}"><strong>➕ Add Employee</strong></a>
        </div>
        <div class="content">

            <form method="GET" action="{% url 'search_employee' %}">
                <div class="search-bar">
                    <input type="text" name="name" placeholder="Name" value="{{ request.GET.name }}">
                    <input type="text" name="date_of_birth" placeholder="Date of Birth" onfocus="(this.type='date')" onblur="(this.type='text')" value="{{ request.GET.date_of_birth }}">
                    <input type="email" name="email" placeholder="Email" value="{{ request.GET.email }}">
                    <input type="tel" name="mobile" placeholder="Mobile" value="{{ request.GET.mobile }}">
                    <button type="submit">🔍</button>
                </div>
            </form>
            

            <table>
                <thead>
                    <tr>
                        <th>Photo</th>
                        <th>Full Name <a href="?sort_by=full_name&order={% if request.GET.order == 'desc' %}asc{% else %}desc{% endif %}">
                            ⇵
                        </a> </th>
                        <th>Email<a href="?sort_by=email&order={% if request.GET.order == 'desc' %}asc{% else %}desc{% endif %}">
                            ⇵
                        </a></th>
                        <th>Mobile<a href="?sort_by=mobile&order={% if request.GET.order == 'desc' %}asc{% else %}desc{% endif %}">
                            ⇵
                        </a></th>
                        <th>Date Of Birth <a href="?sort_by=date_of_birth&order={% if request.GET.order == 'desc' %}asc{% else %}desc{% endif %}">
                            ⇵
                        </a></th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for employee in page_obj %}
                    <tr>
                        <td><div class="avatar"><img src="{{ employee.photo.url }}" alt="{{ employee.full_name }}"></div></td>
                        <td>{{employee.full_name}}</td>
                        <td>{{employee.email}}</td>
                        <td>{{employee.mobile}}</td>
                        <td>{{employee.date_of_birth|date:"d/m/Y"}}</td>
                        <td>
                            <div class="delete_edit">
                                <a href="{% url 'employee_edit' employee.id %}">
                                    <button class="edit-button"><i class="fa-solid fa-pen-to-square"></i></button>
                                </a>
                                <form action="{% url 'employee_delete' employee.id %}" method="post" class="delete-form">
                                    {% csrf_token %}
                                    <button class="delete-button" type="button" onclick="confirmDelete(this);"><i class="fa-solid fa-trash"></i></button>
                                </form>
                                <div id="deleteModal" class="modal">
                                    <div class="modal-content">
                                        <p>Are you sure you want to delete this?</p>
                                        <div class="yes_or_no">
                                            <button id="confirmYes">Yes</button>
                                            <button id="confirmNo">No</button>
                                        </div>

                                    </div>
                                </div>                                
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>


 
            <div class="pagination">
                Showing {{ page_obj.start_index }} to {{ page_obj.end_index }} out of {{ page_obj.paginator.count }}
                <br>
                {% if page_obj.has_previous %}
                    <a href="?page=1{% if request.GET.sort_by %}&sort_by={{ request.GET.sort_by }}{% endif %}{% if request.GET.order %}&order={{ request.GET.order }}{% endif %}">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}{% if request.GET.sort_by %}&sort_by={{ request.GET.sort_by }}{% endif %}{% if request.GET.order %}&order={{ request.GET.order }}{% endif %}">previous</a>
                {% endif %}

                {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                        <a href="?page={{ num }}{% if request.GET.sort_by %}&sort_by={{ request.GET.sort_by }}{% endif %}{% if request.GET.order %}&order={{ request.GET.order }}{% endif %}" class="active">{{ num }}</a>
                    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                        <a href="?page={{ num }}{% if request.GET.sort_by %}&sort_by={{ request.GET.sort_by }}{% endif %}{% if request.GET.order %}&order={{ request.GET.order }}{% endif %}">{{ num }}</a>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}{% if request.GET.sort_by %}&sort_by={{ request.GET.sort_by }}{% endif %}{% if request.GET.order %}&order={{ request.GET.order }}{% endif %}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}{% if request.GET.sort_by %}&sort_by={{ request.GET.sort_by }}{% endif %}{% if request.GET.order %}&order={{ request.GET.order }}{% endif %}">last &raquo;</a>
                {% endif %}
            </div>




            <div class="footer">
                Copyright 2024
            </div>
        </div>
    </div>

<!-- Start of Selection -->
<script src="{% static 'delete.js' %}"></script>
<!-- End of Selection -->
    
    
</body>
</html>